<div class="Index"
  v-show="db.config.inited"
  @dblclick.self="toggleFullscreen"> 

  <div class="webcam-video-row">
    <WebcamVideo 
      ref="WebcamVideo"
      class="webcam-video-vertical"
      :db="db"
      input_id="0"
      vertical="true"
      style="background-color: blue;">
    </WebcamVideo>
  </div>
  

  <div class="webcam-video-row">
    <WebcamVideo 
    ref="WebcamVideo"
    :db="db"
    input_id="1"
    right="true"
    top="true"
    style="background-color: red;">
  </WebcamVideo><WebcamVideo 
  ref="WebcamVideo"
  :db="db"
  input_id="2"
  right="true"
  style="background-color: green;">
</WebcamVideo>
  </div>

</div>